* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
    
  }
  h3
  {
      color: white;
  }
  .btn {
    border: none;
    color: white;
    font-size: 13px;
    cursor: pointer;

  }
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    background:#25525e;
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #27444b;
 


  }
  .asad{
    margin-left: 100px;
    margin-right: 100px;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 25%;
  }

  .cardbg{
      background-color: #25525E !important;
  }
  /* Right column */
  .rightcolumn {
    float: left;
    width: 75%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    background-image: url("images/old-campus.jpg");
        width: 100%;
    padding: 20px;
  }

  .khan
{
    background-image: url("images/logopu.png");
    background-repeat: repeat-y;
        
    
    padding: 20px;
}  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  .row{
    margin-left: 100px;
    margin-right: 100px;

  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  